// Colors //

$dark-blue: #003d5c;
$orange: #df7356;
$teal: #006a7f;
$beige: #b8b89f;
$light-red: #d95b5b;
$white: #fff;

$primary: $dark-blue;
$secondary: $teal;
$info: $orange;
$buttonbg: $orange;
$buttonbg-login: $teal;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "buttonbg": $buttonbg,
  "buttonbg-login": $buttonbg-login,
  "info": $info,
);

// $headings-color: $yellow;
